table {
    background-color: rgb(192, 243, 192);
    font-family: roboto, sans-serif;
}

#br {
    background-color: lightcoral;
}

.liber {
    background-color: lightblue;
}

.sula {
    background-color: lightyellow;
}

.sn {
    background-color: lightgrey;
}

.rebaixa {
    background-color: lightcoral;
}